/* common */

body {
  font-family: "Nanum Gothic", sans-serif;
  color: #343434;
  background: #f6f5f0;
}

* {
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  text-decoration: none;
  box-sizing: border-box;
}

.sec {
  padding: 100px 0;
}

.inner {
  width: 1200px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

img {
  display: block;
}

.btn {
  width: 130px;
  padding: 15px;
  border: 2px solid #333;
  border-radius: 4px;
  color: #333;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  display: block;
  transition: 0.4s;
}

.btn:hover {
  background: #333;
  color: #fff;
}

.btn.btn--reverse {
  background: #333;
  color: #fff;
}

.btn.btn--reverse:hover {
  background: transparent;
  color: #fff;
}

.btn.btn--brown {
  color: #592b18;
  border-color: #592b18;
}

.btn.btn--brown:hover {
  color: #fff;
  background-color: #592b18;
}

.btn.btn--gold {
  color: #d9aa8a;
  border-color: #d9aa8a;
}

.btn.btn--gold:hover {
  color: #fff;
  background-color: #d9aa8a;
}

.btn.btn--white {
  color: #fff;
  border-color: #fff;
}

.btn.btn--white:hover {
  color: #333;
  background-color: #fff;
}

.back_to_position {
  opacity: 0;
  transition: 1s;
}

.back_to_position.to_right {
  transform: translate(-150px, 0);
}

.back_to_position.to_left {
  transform: translate(150px, 0);
}

.show .back_to_position {
  opacity: 1;
  transform: translate(0, 0);
}

.show .back_to_position.delay-0 {
  transition-delay: 0s;
}

.show .back_to_position.delay-1 {
  transition-delay: 0.3s;
}

.show .back_to_position.delay-2 {
  transition-delay: 0.6s;
}

.show .back_to_position.delay-3 {
  transition-delay: 0.9s;
}
/* header */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #f6f5f0;
  border-bottom: 1px solid #c8c8c8;
  z-index: 9;
}

header > .inner {
  height: 100px;
  align-items: center;
  justify-content: space-between;
}
header .sub_menu {
  justify-content: flex-end;
  margin: 10px 0;
}
header .sub_menu ul li ~ li::before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 10px;
  background: #ddd;
}
header .sub_menu ul li a {
  display: inline-block;
  font-size: 12px;
  font-family: Arial, sans-serif;
  padding: 11px 16px;
}

header .sub_menu ul li a:hover {
  color: #000;
}

header .sub_menu .search {
  position: relative;
}

header .sub_menu .search input {
  width: 34px;
  height: 34px;
  padding: 4px 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
  outline: none;
  background: #fff;
  color: #777;
  font-size: 12px;
  transition: 0.5s;
}

header .sub_menu .search input:focus {
  width: 190px;
  border: 1px solid #669900;
}

header .sub_menu .search .material-icons {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 4px;
  height: 24px;
  margin: auto;
  transition: 0.4s;
}

header .sub_menu .search.focused .material-icons {
  opacity: 0;
}

header .main_menu > ul {
  justify-content: flex-end;
}

header .main_menu .item .item__name {
  padding: 12px 16px 20px 16px;
  font-family: Arial, sans-serif;
  font-size: 13px;
}

header .main_menu .item:hover .item__name {
  background: #2c2a29;
  color: #669900;
  border-radius: 6px 6px 0 0;
}

header .main_menu .item .item__contents {
  position: fixed;
  left: 0;
  right: 0;
  display: none;
  z-index: 9;
}

header .main_menu .item:hover .item__contents {
  display: block;
}

header .main_menu .item .item__contents .contents__menu {
  background: #2c2a29;
  color: #999;
}

header .main_menu .item .item__contents .contents__menu > ul {
  padding: 20px 0;
  gap: 100px;
  line-height: 2;
  font-size: 12px;
}

header .main_menu .item .item__contents .contents__menu dt {
  font-size: 14px;
  color: #fff;
  margin-bottom: 10px;
}

header .main_menu .item .item__contents .contents__menu dd a {
  display: block;
}

header .main_menu .item .item__contents .contents__menu dd:hover {
  color: #669900;
}

header .main_menu .item .item__contents .contents__texture {
  background: url(../images/main_menu_pattern.jpg) no-repeat center center/cover;
  padding: 20px 0;
  font-size: 12px;
  line-height: 1.4;
}

header .main_menu .item .item__contents .contents__texture strong {
  color: #999;
  font-weight: 700;
}
header .main_menu .item .item__contents .contents__texture p {
  color: #669900;
  margin-bottom: 10px;
}

header .main_menu .item .item__contents .contents__texture p:last-of-type {
  margin: 0;
}

header .badges {
  position: absolute;
  top: 112px;
  right: 12px;
}

header .badges .badge {
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 12px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

/* visual */
.mainVisual {
  margin-top: 101px;
  background: url(../images/visual_bg.jpg) no-repeat center center/cover;
}

.mainVisual .inner {
  position: relative;
  height: 650px;
}

.mainVisual h2 {
  position: absolute;
  top: 88px;
  left: -10px;
}
.mainVisual h2 a {
  margin: 30px auto 0 auto;
}

.mainVisual .cup1.image {
  position: absolute;
  bottom: 0;
  right: -47px;
}

.mainVisual .cup1.text {
  position: absolute;
  top: 38px;
  right: 171px;
}

.mainVisual .cup2.image {
  position: absolute;
  bottom: 0;
  right: 162px;
}

.mainVisual .cup2.text {
  position: absolute;
  top: 321px;
  right: 416px;
}
.mainVisual .spoon {
  position: absolute;
  bottom: 0;
  left: 275px;
}

.mainVisual .fade_in {
  opacity: 0;
}

/* notice */
.mainNotice .notice_line {
  position: relative;
}

.mainNotice .notice_line .bg_left {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: #333;
}

.mainNotice .notice_line .bg_right {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background: #f6f5f0;
}

.mainNotice .notice_line .inner {
  position: relative;
  height: 70px;
}

.mainNotice .notice_line .inner .inner__left {
  width: 60%;
  height: 100%;
  background: #333;
  color: #fff;
  align-items: center;
  padding: 0 20px;
}

.mainNotice .notice_line .inner .inner__left h2 {
  font-size: 17px;
  font-weight: 700;
  margin-right: 20px;
}

.mainNotice .notice_line .inner .inner__left .swiper-container {
  flex-grow: 1;
  height: 100%;
}

.mainNotice .notice_line .inner .inner__left .swiper-slide {
  height: 100%;
  display: flex;
  align-items: center;
}
.mainNotice .notice_line .inner .inner__left .swiper-slide a {
  display: block;
}

.mainNotice .notice_line .inner .inner__left .notice_line__more {
  font-size: 30px;
}
.mainNotice .notice_line .inner .inner__right {
  width: 40%;
  height: 100%;
  justify-content: flex-end;
  align-items: center;
}

.mainNotice .notice_line .inner .inner__right h2 {
  font-size: 17px;
  font-weight: 700;
}

.mainNotice .notice_line .inner .inner__right .toggle_promotion {
  font-size: 30px;
  cursor: pointer;
  padding: 10px;
}

.mainNotice .promotion {
  padding: 50px 0;
  height: 709px;
  transition: 0.5s;
  overflow: hidden;
}

.mainNotice .promotion .swiper-container {
  width: calc(820px * 3 + 60px);
  margin-left: -310px;
}

.mainNotice .promotion .swiper-container .swiper-slide {
  position: relative;
  filter: opacity(0.5);
  transition: 0.5s;
}

.mainNotice .promotion .swiper-container .swiper-slide.swiper-slide-active {
  filter: opacity(1);
}

.mainNotice .promotion .swiper-container .swiper-slide .btn {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

.mainNotice .promotion .swiper-pagination {
  position: static;
  margin-top: 40px;
}

.mainNotice .promotion .swiper-pagination .swiper-pagination-bullet {
  background-image: url("../images/promotion_slide_pager.png");
  width: 12px;
  height: 12px;
  background-color: transparent;
  outline: none;
}

.mainNotice .promotion .swiper-pagination .swiper-pagination-bullet-active {
  background-image: url("../images/promotion_slide_pager_on.png");
}

.mainNotice .promotion .swiper-prev,
.mainNotice .promotion .swiper-next {
  position: absolute;
  z-index: 9;
  top: 50%;
  width: 42px;
  height: 42px;
  border: 2px solid #333;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  text-align: center;
  padding: 6px 0;
  transition: 0.4s;
}

.mainNotice .promotion .swiper-prev {
  left: 50%;
  transform: translate(-500px, -50%);
}

.mainNotice .promotion .swiper-next {
  right: 50%;
  transform: translate(500px, -50%);
}

.mainNotice .promotion .swiper-prev:hover,
.mainNotice .promotion .swiper-next:hover {
  background: #333;
  color: #fff;
}

.mainNotice .promotion.hide {
  height: 0;
  padding: 0;
}

/* mainRewards */

.mainRewards {
  position: relative;
}

.mainRewards .inner {
  background: url(../images/rewards.jpg) no-repeat center center / cover;
  height: 240px;
}

.mainRewards .inner::before,
.mainRewards .inner::after {
  content: "";
  position: absolute;
  top: 0;
  z-index: -1;
  width: 50%;
  height: 240px;
}

.mainRewards .inner::before {
  left: 0;
  background: #272727;
}

.mainRewards .inner::after {
  right: 0;
  background: #d5c798;
}

.mainRewards .btn_group {
  flex-wrap: wrap;
  gap: 10px;
  width: 250px;
  height: 100%;
  padding: 100px 0 30px 0;
  margin: auto 0 0 auto;
}

.mainRewards .btn_group .sign_up {
}

.mainRewards .btn_group .sign_in {
  width: 110px;
}

.mainRewards .btn_group .gift {
  flex: 1 1 0;
}

/* mainYoutube */

.mainYoutube {
  position: relative;
  height: 700px;
  background: #333;
  overflow: hidden;
}

.mainYoutube .youtube__area {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1920px;
  background: #ddd;
}

.mainYoutube .youtube__area::before {
  content: "";
  display: block;
  width: 100%;
  height: 0;
  padding-top: 56.25%;
}

#player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.mainYoutube .youtube__cover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3) url("../images/video_cover_pattern.png");
}

.mainYoutube .inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 700px;
  background: transparent;
  z-index: 9;
}

.mainYoutube .floating1 {
  position: absolute;
  top: 50px;
  left: 0;
}
.mainYoutube .floating2 {
  position: absolute;
  top: 350px;
  left: 150px;
}

/* mainSeason */

.mainSeason {
  background: url(../images/season_product_bg.jpg);
}

.mainSeason .inner {
  position: relative;
  height: 400px;
}

.mainSeason .floating3 {
  position: absolute;
  top: -200px;
  right: 0;
}

.mainSeason .text_group {
  position: absolute;
  top: 50%;
  right: 100px;
  transform: translate(0, -50%);
}

.mainSeason .text_group .title {
  margin-bottom: 10px;
}

.mainSeason .text_group .desc {
  margin-bottom: 15px;
}

.mainReserve {
  background: url(../images/reserve_bg.jpg);
}

.mainReserve .inner {
  height: 400px;
  align-items: center;
  gap: 20px;
}

.mainReserve .reserve_logo {
  margin-right: 30px;
}

/* mainPick */

.mainPick {
  background: url(../images/favorite_bg.jpg) fixed no-repeat center center /
    cover;
}

.mainPick .inner {
  padding: 110px 0;
}

.mainPick .text_group {
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-end;
  gap: 30px;
  width: 362px;
  margin-left: 100px;
}

/* mainStore */

.mainStore {
  background: url(../images/reserve_store_bg.jpg) fixed no-repeat center
    center/cover;
}

.mainStore .inner {
  justify-content: center;
  align-items: center;
  height: 600px;
}

.mainStore .medal {
  width: 334px;
  height: 334px;
  perspective: 600px;
}

.mainStore .medal .front,
.mainStore .medal .back {
  position: absolute;
  width: 334px;
  height: 334px;
  backface-visibility: hidden;
  transition: 1s;
}

.mainStore .medal .front {
  transform: rotateY(0deg);
}

.mainStore .medal:hover .front {
  transform: rotateY(180deg);
}

.mainStore .medal .back {
  transform: rotateY(-180deg);
}

.mainStore .medal:hover .back {
  transform: rotateY(0deg);
}

.mainStore .medal .back .btn {
  position: absolute;
  top: 240px;
  left: 50%;
  transform: translate(-50%, 0);
}

/* mainFindStore */

.mainFindStore {
  background: url(../images/find_store_bg.jpg);
}

.mainFindStore .inner {
  position: relative;
  height: 400px;
}

.mainFindStore .inner > * {
  position: absolute;
}

.mainFindStore .texture1 {
  top: 0;
  left: 400px;
}

.mainFindStore .texture2 {
  bottom: 0;
  right: 0;
}

.mainFindStore .picture {
  border-radius: 50%;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.mainFindStore .picture1 {
  top: -60px;
  left: 0;
}
.mainFindStore .picture2 {
  top: 150px;
  left: 250px;
}

.mainFindStore .text_group {
  top: 120px;
  left: 550px;
}

.mainFindStore .text_group .title {
  margin-bottom: 20px;
}

.mainFindStore .text_group .desc {
  margin-bottom: 20px;
}

/* footer */
footer {
  background: #272727;
}

footer .awards {
  padding: 30px 0;
}

footer .awards .inner {
  position: relative;
}

footer .awards .swiper-prev,
footer .awards .swiper-next {
  width: 42px;
  height: 42px;
  border: 2px solid #fff;
  border-radius: 50%;
  outline: none;
  color: #fff;
  opacity: 0.3;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  transition: 0.4s;
}

footer .awards .swiper-prev:hover,
footer .awards .swiper-next:hover {
  background: #fff;
  color: #333;
}

footer .awards .swiper-prev {
  left: -100px;
}

footer .awards .swiper-next {
  right: -100px;
}

footer .bottom {
  border-top: 1px solid #333;
}

footer .bottom .inner {
  padding: 40px 0 60px 0;
}

footer .bottom .menu {
  justify-content: center;
  color: #ccc;
  margin-bottom: 20px;
}

footer .bottom .menu li {
  position: relative;
}

footer .bottom .menu li:first-child {
  color: #669900;
}

footer .bottom .menu li ~ li::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  width: 3px;
  height: 3px;
  background: #777;
  border-radius: 50%;
}

footer .bottom .menu li a {
  display: block;
  font-size: 12px;
  font-weight: 700;
  padding: 15px;
}

footer .bottom .btn_group {
  justify-content: center;
  gap: 10px;
  margin-bottom: 30px;
}

footer .bottom .btn_group .btn {
  font-size: 12px;
}

footer .bottom .info {
  text-align: center;
  margin-bottom: 15px;
}

footer .bottom .info span {
  margin-right: 20px;
  color: #999;
  font-size: 12px;
}

footer .bottom .info span:last-child {
  margin-right: 0;
}

footer .bottom .copyright {
  color: #999;
  text-align: center;
  font-size: 12px;
  margin-bottom: 30px;
}

footer .bottom .logo {
  margin: 0 auto;
}
